body {
  font-family: -apple-system, 'Noto Sans Malayalam', BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 1500px; /*200vh*/
    height: 110vh;  /* Or any desired height */
    overflow: auto; /* Enable both vertical and horizontal scrolling */*/
}
